@mixin boxShadow($arg) {
    -webkit-box-shadow: $arg;
    -moz-box-shadow: $arg;
    box-shadow: $arg;
}
@mixin flexPosition($display, $content, $aligin-item, $direction, $wrap) {
    @include crossBrowser(display, $display);
    @include crossBrowser(justify-content, $content);
    @include crossBrowser(align-items, $aligin-item);
    @include crossBrowser(flex-direction, $direction);
    @include crossBrowser(flex-wrap, $wrap);
}
@mixin crossBrowser($property, $css) {
    -webkit-#{$property}: $css;
    -moz-#{$property}: $css;
    -o-#{$property}: $css;
    #{$property}: $css;
}

@mixin buttonStule {
    color: $c-white;
    font-family: "Montserrat";
    font-size: 20px;
    border: 1px solid $c-lilac-bush;
    border-radius: $space-small;

    background: linear-gradient(
        45deg,
        $c-valhalla-transparency,
        $c-grape-transparency38,
        $c-minsk-transparency
    );
    @include boxShadow(8px 6px 10px -5px $c-butterfly-bush-transparency);
    &:hover {
        transition: all linear 0.5s;
        transform: scale(120%);
        background: linear-gradient(
            45deg,
            $c-medium-red-violet-transparency,
            $c-plum-transparency,
            $c-grape-transparency100
        );
    }
}
