/*Collor */
$c-white: #FFFFFF;
$c-black: #000000;
$c-haiti: #26153D;
$c-plum: #772167;
$c-grape: #49205F;
$c-lilac-bush: #8f6cd1;
$c-brilliant-rose: #F849B3;
$c-jacarta: #4c2a70;
$c-valhalla: #2B1845;
$c-butterfly-bush-transparency: rgba(106, 80, 152, 1);
$c-valhalla-transparency: rgba(44, 24, 70, 1) 0%;
$c-grape-transparency38: rgba(58, 32, 89, 1) 38%;
$c-grape-transparency100: rgba(58, 32, 89, 1) 100%;
$c-minsk-transparency: rgba(81, 46, 121, 1) 100%;
$c-medium-red-violet-transparency: rgba(178, 54, 140, 1) 0%;
$c-plum-transparency:rgba(138, 46, 122, 1) 50% ;

/*=Paddings, Margins
+************************************************/
$space-xxxx-one: 1px;
$space-xxx-small: 5px;
$space-xx-small: 10px;
$space-x-small: 15px;
$space-small: 20px;
$space-standard: 25px;
$space-medium: 30px;
$space-large: 35px;
$space-x-large: 40px;
$space-large:50px;
$space-xxx-large: 100px;

/*=breaks ---*/
$break-s: 380px;
$break-xs: 450px;
$break-mobile:800px;
$break-mid:1100px;
$break-laptop:1500px;
$break-high:1920px;

/*=button size */
$button-mid: 150px;
$button-larg: 250px;



/*=min page  size  */

$min-page-size-h:937px;
$min-page-size-w: 320px;