.counter {
    background: linear-gradient(
        90deg,
        $c-valhalla-transparency,
        $c-grape-transparency38,
        $c-minsk-transparency
    );
    border: 2px solid $c-white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transition: linear 1s;
    &__text {
        height: 100%;
        color: $c-white;
        @include flexPosition(flex, center, center, column, nowrap);
        h1 {
            font-size: $space-standard;
        }
    }
    &__p {
        display: flex;
        font-size: $space-standard;
        p{
            margin: $space-x-small 0 $space-x-small 0;
        }
    }
    &__quantity {
        color: $c-brilliant-rose;
        font-size: $space-standard;
    }
}
@media screen and (max-width: $break-mid) {
    .counter {
        width: $space-xxx-large;
        height:$space-xxx-large;
    }
}
