.dragndrop {
    @include flexPosition(flex, space-evenly, center, row, wrap);
}
.container {
    @include flexPosition(flex, center, center, column, nowrap);
    max-width: 500px;
    &__title {
        color: $c-white;
        font-family: "Montserrat";
        font-size:$space-small;
    }
    &__item {
        width: 100%;
        transition: ease-in-out 0.5s;
        @include flexPosition(flex, center, center, column, nowrap);
    }
    &__choice {
        width: 70%;
        @include flexPosition(flex, center, center, row, nowrap);
        min-height: 60px;
        margin: 8px;
        padding: 5px;
        color: $c-white;
        font-family: "Montserrat";
        font-size: 20px;
        border: 1px solid $c-lilac-bush;
        border-radius: $space-small;

        background: linear-gradient(
            45deg,
            $c-valhalla-transparency,
            $c-grape-transparency38,
            $c-minsk-transparency
        );
        @include boxShadow(8px 6px 10px -5px $c-butterfly-bush-transparency);
        &:hover {
            transition: all linear 0.5s;
            transform: scale(120%);
            background: linear-gradient(
                45deg,
                $c-medium-red-violet-transparency,
                $c-plum-transparency,
                $c-grape-transparency100
            );
        }
    }
}
.choice {
     margin: $space-xx-small;
     height: 300px;
     @include flexPosition(flex, space-evenly, center, column, nowrap);
    h2{
        color: $c-white;
        font-family: "Montserrat";
    }
     &__item {
        height: 70px;
        box-sizing: border-box;
        width: $button-larg;
        border: 1px solid $c-lilac-bush;
        color: $c-white;
        font-family: "Montserrat";
        border-radius: $space-small;
    }
    button {
        @include boxShadow(8px 6px 10px -5px $c-butterfly-bush-transparency);
        border: 1px solid $c-lilac-bush;
        width: $button-mid;
        height: 50px;
        border-radius: $space-small;
        color: $c-white;
        transition: all linear 0.5s;
        background: linear-gradient(
            45deg,
            $c-valhalla-transparency,
            $c-grape-transparency38,
            $c-minsk-transparency
        );

        &:hover {
            transition: all linear 0.5s;
            transform: scale(120%);
            background: linear-gradient(
                45deg,
                $c-medium-red-violet-transparency,
                $c-plum-transparency,
                $c-grape-transparency100
            );
        }
    }

    &__answer {
        @include flexPosition(flex, center, center, row, nowrap);
        height: 70px;
        &--active{
            @include buttonStule
        }
    }
}

@media screen and (max-width: $break-mid) {
    .dragndrop{
        padding: $space-xx-small;
    }
}