.intro {
    min-height: $min-page-size-h;
    width: 100%;
    min-width: $min-page-size-w;
    background-image: url("../../../../Assets/img/backgraund_intro.png");
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width:$break-xs) {
    .intro {
       
    }
}
