.questions {
    @include flexPosition(flex, center, center, column, nowrap);
    &__title {
        width: 100%;
        
        h1 {
            color: $c-white;
            margin: 1%;
            text-align: center;
            font-family: "Montserrat";
            font-size: 24px;
        }
    }
    &__item {
        @include flexPosition(flex,center,center,column,nowrap);
        gap: 10px;
        width: 50%;
    }
    &__button{
        border: 1px solid $c-lilac-bush;
        border-radius: $space-small;
        transition:  all ease-in-out 1s;
        width: 50%;
        padding: 10px;
        min-width: 260px;
        min-height: 60px;
        color: $c-white;
            margin: 1%;
            text-align: center;
            font-family: "Montserrat";
            font-size: 24px;
        background: linear-gradient(
            45deg,
            $c-valhalla-transparency,
            $c-grape-transparency38,
            $c-minsk-transparency
        );
        &:hover {
            img{
                transform: scale(110%);
            }
            transform: scale(110%);
            background: linear-gradient(
                45deg,
                $c-medium-red-violet-transparency,
                $c-plum-transparency,
                $c-grape-transparency100
            );
    
        }
    }
}
