.quiz-page {
    height: 100%;
    min-height: $min-page-size-h;
    min-width: $min-page-size-w;
    background-image: url("../../../../Assets/img/backgraund_quiz.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    .counter {
        position: absolute;
        top: 5%;
        right: 5%;
    }
    .counter--size {
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width:$break-mid) {
    .quiz-page {
        .counter {
            left: 5%;
            top: 3%;
        }
        .questions {
            margin: 5%;
            &__item {
                margin: $space-small;
                gap: $space-small;
            }
            &__button {
                height: 80px;
            }
        }
    }
}
@media screen and (max-width:$break-xs) {
    .quiz-page {
        .counter {
            width: 60px;
            height: 60px;
            top: 7%;
        }
    }
}
