.score-page {
    &__quick-nav{
        width: 100%;
        img{
            margin-left: 10px;
        }
        @include flexPosition(flex, flex-end, center, row, nowrap);
    }
    @include flexPosition(flex, center, center, row, nowrap);
    min-height: $min-page-size-h;
    
    width: 100%;
    min-width: $min-page-size-w;
    background-image: url("../../../../Assets/img/score.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__item {
        @include flexPosition(flex, center, center, column, wrap);
        padding: 0 20% 0 30%;
        .category--background {
            background: none;
            box-shadow: none;
            border: none;
        }
        .category--background:hover {
            transform: none;
            background: none;
        }
    }
    &__nav {
        
        .categories--direction {
            flex-direction: column;
        }
    }
    .counter {
        margin-bottom: 140px;
    }
}
@media screen and (max-width: $break-laptop){
    .score-page {

        &__item {
            padding-right: 15%;
        }
    }
}

@media screen and (max-width: $break-mid) {
    .score-page {
        @include flexPosition(flex, flex-start, center, column, nowrap);
        &__nav {
            position: static;
            right: 0;
            margin: 20px;
            .categories--direction {
                flex-direction: row;
            }
        }
        &__item {
            padding: 0;
            .category {
                margin-top: 100px;
                
            }
        }
        .button {
            margin: 50px;
        }
        .counter {
            margin-top: $space-large + $space-small;
            margin-bottom: 0;
        }
        .counter--size {
            width: 150px;
            height: 150px;
        }
    }
}
@media screen and (max-width: $break-mobile) {
    .score-page {
        height: 100%;
        padding-bottom: $space-xx-small;
        .category {
            margin-top: $space-small;
        }
        .counter {
            margin-top: 0;
        }
        .button {
            margin: $space-small;
        }
    }
}
