.selected-category {
    height: 100%;
    width: 100%;
    min-height: $min-page-size-h;
    min-width:$min-page-size-w;
    background-image: url("../../../../Assets/img/backgraund_category.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.selected-category__item {
    margin: $space-xxx-large;
    @include flexPosition(flex, center, center, column, nowrap);
    .category--background{
        background: none;
        box-shadow: none;
        border: none;
        &:hover{
            background: none;
            
        }

    }
}
