.button {
    @include flexPosition(flex, center, center, row, nowrap);
    gap: $space-medium;
    border: 1px solid $c-lilac-bush;
    border-radius: $space-small;
    transition:  all ease-in-out 1s;
    margin: $space-medium;
    min-width: 250px;
    background: linear-gradient(
        45deg,
        $c-valhalla-transparency,
        $c-grape-transparency38,
        $c-minsk-transparency
    );
    @include boxShadow(8px 6px 10px -5px $c-butterfly-bush-transparency);
    
    h1 {
        color: $c-white;
        margin: 2%;
        padding: $space-xxx-small;
        font-family: "Montserrat";
        font-size: 24px;
        white-space: nowrap;
    }
    img{
        margin-top:$space-xx-small;
        transition:  all ease-in-out 1s;
    }
    &:hover {
        img{
            transform: scale(110%);
        }
        transform: scale(110%);
        background: linear-gradient(
            45deg,
            $c-medium-red-violet-transparency,
            $c-plum-transparency,
            $c-grape-transparency100
        );

    }
}
