.title {
    @include flexPosition(flex, center, center, column, nowrap);
    &__item {
        width: 100%;
        @include flexPosition(flex, flex-end, center, row, nowrap);
        margin-right: 20%;
        img {
            cursor: pointer;
            margin-right: $space-small;
        }
    }
    &__text {
        width: 100%;
        margin: 1%;
        @include flexPosition(flex, center, center, column, nowrap);
        p {
            color: $c-white;
            font-family: "Montserrat";
            font-size: 24px;
        }
    }
    &__heading {
        h1 {
            color: $c-white;
            margin-top: $space-x-large;
            margin: 2%;
            font-family: "Montserrat";
            font-size: 24px;
            white-space: nowrap;
        }
        &--background {
            background-image: url("../../../../Assets/img/shadow.png");
            background-position: center;
            background-size: cover;
            margin: 1%;
            text-align: center;
            width: 90%;
        }
    }
}
@media screen and (max-width: $break-mid) {
    .title{
        &__heading{
            h1{
                white-space: normal;
            }
        }
        &__item{
            margin-right: 5%;
        }
    }
}