.category {
    @include flexPosition(flex, flex-start, flex-start, column, nowrap);
    width: 160px;
    height: 160px;
    &__item {
        margin: 10%;
    }
    &__horizontal-line {
        width: 130%;
        hr {
            border-color: $c-brilliant-rose;
        }
    }
    &__title {
        color: $c-white;
    }
    &--background {
        transition: ease-in-out 0.5s;
        border: 1px solid $c-lilac-bush;
        border-radius: $space-small;
        background: linear-gradient(
            45deg,
            $c-valhalla-transparency,
            $c-grape-transparency38,
            $c-minsk-transparency
        );
        @include boxShadow(8px 6px 10px -5px $c-butterfly-bush-transparency);
        &:hover {
            transform: scale(120%);
            background: linear-gradient(
                45deg,
                $c-medium-red-violet-transparency,
                $c-plum-transparency,
                $c-grape-transparency100
            );
        }
    }
}