.gradient {
    display: none;
}
@media screen and (max-width: $break-mid) {
    .gradient {
        width: 100%;
        display: flex;
        justify-content: center;
        opacity: 0.8;
    }
    .gradient__item--width-size {
        display: block;
        position: absolute;
        top: -110px;
        width: 50%;
        height: 220px;
        display: block;
        min-width: 260px;
        border-radius: 50%;
        background: radial-gradient($c-brilliant-rose, $c-haiti 70%);
        background-size: contain;
        z-index: -1;
    }
}
