.logo {
    z-index: 1;
    &__q-logo {
        position: absolute;
        transition: opacity 1s, visibility 1s;
        top: $space-large;
        left: $space-x-large;
        width: 80px;
        height: 80px;
    }
    
    &__quiz-logo {
        width: 100%;
        transition: linear 1s;
    }
    transition: linear 1s;
    &__quiz-logo--width-size-m {
        padding-top: 90px;
    }
}

@media screen and (max-width: $break-mid) {
    .logo__q-logo {
        visibility: hidden;
        opacity: 0;
    }
    .logo__quiz-logo--width-size-m {
        padding-top: $space-small;
    }
}
